Repository Kong/public-ui, changes with the owners that CODEOWNERS names for each.
All owners: @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui, @Kong/team-devx, @davidma415, @kaiarrowood, @kongponents-bot

feat: entities redis configuration base
  packages/entities/entities-redis-configurations/LICENSE
  packages/entities/entities-redis-configurations/README.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-redis-configurations/sandbox/App.vue
  packages/entities/entities-redis-configurations/sandbox/index.html
  packages/entities/entities-redis-configurations/sandbox/index.ts
  packages/entities/entities-redis-configurations/sandbox/pages/HomePage.vue
  packages/entities/entities-redis-configurations/sandbox/pages/RedisConfigurationFormPage.vue
  packages/entities/entities-redis-configurations/sandbox/tsconfig.json
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/composables/index.ts
  packages/entities/entities-redis-configurations/src/composables/useI18n.ts
  packages/entities/entities-redis-configurations/src/global-components.d.ts
  packages/entities/entities-redis-configurations/src/index.ts
  packages/entities/entities-redis-configurations/src/locales/en.json
  packages/entities/entities-redis-configurations/src/types/index.ts
  packages/entities/entities-redis-configurations/tsconfig.build.json
  packages/entities/entities-redis-configurations/tsconfig.json
  packages/entities/entities-redis-configurations/vite.config.ts
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

feat(redis): redis configuration form [KM-235]
  packages/entities/entities-redis-configurations/src/components/ClusterNodes.vue
  packages/entities/entities-redis-configurations/src/components/FieldArrayCardContainer.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
  packages/entities/entities-redis-configurations/src/locales/en.json
  packages/entities/entities-redis-configurations/src/types/index.ts
  packages/entities/entities-redis-configurations/src/types/redis-configuration-form.ts
Owners: @adamdehaven, @ValeryG, @jillztom

feat: form model
  packages/entities/entities-redis-configurations/sandbox/pages/RedisConfigurationFormPage.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/components/SentinelNodes.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
  packages/entities/entities-redis-configurations/src/locales/en.json
  packages/entities/entities-redis-configurations/src/types/redis-configuration-form.ts
  packages/entities/entities-redis-configurations/vite.config.ts
Owners: @adamdehaven, @ValeryG, @jillztom

feat: entities redis configuration base
  packages/entities/entities-redis-configurations/LICENSE
  packages/entities/entities-redis-configurations/README.md
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-redis-configurations/sandbox/App.vue
  packages/entities/entities-redis-configurations/sandbox/index.html
  packages/entities/entities-redis-configurations/sandbox/index.ts
  packages/entities/entities-redis-configurations/sandbox/pages/HomePage.vue
  packages/entities/entities-redis-configurations/sandbox/pages/RedisConfigurationFormPage.vue
  packages/entities/entities-redis-configurations/sandbox/tsconfig.json
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/composables/index.ts
  packages/entities/entities-redis-configurations/src/composables/useI18n.ts
  packages/entities/entities-redis-configurations/src/global-components.d.ts
  packages/entities/entities-redis-configurations/src/index.ts
  packages/entities/entities-redis-configurations/src/locales/en.json
  packages/entities/entities-redis-configurations/src/types/index.ts
  packages/entities/entities-redis-configurations/tsconfig.build.json
  packages/entities/entities-redis-configurations/tsconfig.json
  packages/entities/entities-redis-configurations/vite.config.ts
  packages/entities/entities-shared/src/types/entity-base-config-card.ts
  pnpm-lock.yaml
Owners: @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

feat(redis): redis configuration form [KM-235]
  packages/entities/entities-redis-configurations/src/components/ClusterNodes.vue
  packages/entities/entities-redis-configurations/src/components/FieldArrayCardContainer.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
  packages/entities/entities-redis-configurations/src/locales/en.json
  packages/entities/entities-redis-configurations/src/types/index.ts
  packages/entities/entities-redis-configurations/src/types/redis-configuration-form.ts
Owners: @adamdehaven, @ValeryG, @jillztom

wip
  packages/entities/entities-redis-configurations/package.json
  packages/entities/entities-redis-configurations/src/components/ClusterNodes.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/components/SentinelNodes.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
  packages/entities/entities-redis-configurations/src/constants.ts
  packages/entities/entities-redis-configurations/src/helpers.ts
  packages/entities/entities-redis-configurations/src/types/redis-configuration-form.ts
  pnpm-lock.yaml
Owners: @kongponents-bot, @adamdehaven, @ValeryG, @jillztom

feat(plugin-form): adaption of redis config in all plugins
  packages/core/forms/src/components/FormGenerator.vue
  packages/core/forms/src/components/FormRedis.vue
  packages/core/forms/src/components/RedisConfigCard.vue
  packages/core/forms/src/components/forms/OIDCForm.vue
  packages/core/forms/src/components/forms/RLAForm.vue
  packages/core/forms/src/composables/index.ts
  packages/core/forms/src/composables/useRedisNonStandardFields.ts
  packages/core/forms/src/composables/useRedisPartial.ts
  packages/core/forms/src/const.ts
  packages/core/forms/src/locales/en.json
  packages/entities/entities-plugins/src/components/PluginEntityForm.vue
  packages/entities/entities-plugins/src/composables/useSchemas.ts
  packages/entities/entities-redis-configurations/package.json
Owners: @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom, @kongponents-bot

feat(plugin-form): data cache during partial toggle
  packages/core/forms/src/components/FormGenerator.vue
  packages/core/forms/src/components/FormRedis.vue
  packages/core/forms/src/components/forms/OIDCForm.vue
  packages/core/forms/src/components/forms/RLAForm.vue
  packages/core/forms/src/composables/useRedisPartial.ts
  packages/entities/entities-plugins/src/components/PluginEntityForm.vue
  packages/entities/entities-plugins/src/composables/usePluginHelpers.ts
Owners: @Kong/team-core-ui, @adamdehaven, @ValeryG, @jillztom

wip
  packages/entities/entities-redis-configurations/src/components/ClusterNodes.vue
  packages/entities/entities-redis-configurations/src/components/FieldArrayCardContainer.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/components/SentinelNodes.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
  packages/entities/entities-redis-configurations/src/locales/en.json
  packages/entities/entities-vaults/src/components/VaultSecretPickerProvider.vue
Owners: @adamdehaven, @ValeryG, @jillztom

feat: redis type
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
  packages/entities/entities-redis-configurations/src/constants.ts
  packages/entities/entities-redis-configurations/src/helpers.ts
  packages/entities/entities-redis-configurations/src/types/redis-configuration-form.ts
Owners: @adamdehaven, @ValeryG, @jillztom

fix(tracing): lifecycle view and partials
  packages/core/tracing/package.json
  packages/core/tracing/sandbox/fixtures/trace-batches.json
  packages/core/tracing/sandbox/index.ts
  packages/core/tracing/sandbox/pages/HomePage.vue
  packages/core/tracing/sandbox/pages/LifecycleViewPage.vue
  packages/core/tracing/sandbox/pages/TraceViewPage.vue
  packages/core/tracing/sandbox/pages/WaterfallViewPage.vue
  packages/core/tracing/src/components/lifecycle/LifecycleView.vue
  packages/core/tracing/src/components/lifecycle/LifecycleViewLegend.vue
  packages/core/tracing/src/components/lifecycle/LifecycleViewNode.vue
  packages/core/tracing/src/components/payload/PayloadTable.vue
  packages/core/tracing/src/components/trace/SpanAttribute.vue
  packages/core/tracing/src/components/trace/SpanAttributeTable.vue
  packages/core/tracing/src/components/trace/SpanBasicInfo.vue
  packages/core/tracing/src/components/trace/SpanEvent.vue
  packages/core/tracing/src/components/trace/SpanEventList.vue
  packages/core/tracing/src/components/trace/SpanLatencyTable.vue
  packages/core/tracing/src/components/trace/TraceLatency.vue
  packages/core/tracing/src/constants/index.ts
  packages/core/tracing/src/constants/kong.ts
  packages/core/tracing/src/constants/lifecycle.ts
  packages/core/tracing/src/constants/spans.ts
  packages/core/tracing/src/constants/trace.ts
  packages/core/tracing/src/index.ts
  packages/core/tracing/src/locales/en.json
  packages/core/tracing/src/partials/SummaryViewTab.vue
  packages/core/tracing/src/partials/TraceViewTab.vue
  packages/core/tracing/src/types/index.ts
  packages/core/tracing/src/types/lifecycle.ts
  packages/core/tracing/src/types/spans.ts
  packages/core/tracing/src/types/trace-viewer.ts
  packages/core/tracing/src/types/trace.ts
  packages/core/tracing/src/utils/index.ts
  packages/core/tracing/src/utils/lifecycle.ts
  packages/core/tracing/src/utils/spans.ts
  pnpm-lock.yaml
Owners: @kongponents-bot, @adamdehaven, @ValeryG, @jillztom, @Kong/team-core-ui

feat(expressions): better language support
  packages/core/expressions/sandbox/App.vue
  packages/core/expressions/src/components/ExpressionsEditor.vue
  packages/core/expressions/src/monaco.ts
Owners: @Kong/team-core-ui

fix(expressions): optimize codepath and fix string token handling
  packages/core/expressions/src/components/ExpressionsEditor.vue
  packages/core/expressions/src/monaco.ts
Owners: @Kong/team-core-ui

fix(expressions): mysterious bug
  packages/core/expressions/src/components/ExpressionsEditor.vue
Owners: @Kong/team-core-ui

feat(entities-plugin): add streaming custom plugin support
  packages/entities/entities-plugins/docs/plugin-select.md
  packages/entities/entities-plugins/fixtures/mockData.ts
  packages/entities/entities-plugins/sandbox/pages/PluginSelectPage.vue
  packages/entities/entities-plugins/src/components/PluginSelect.cy.ts
  packages/entities/entities-plugins/src/components/PluginSelect.vue
  packages/entities/entities-plugins/src/components/select/PluginSelectCard.vue
  packages/entities/entities-plugins/src/locales/en.json
  packages/entities/entities-plugins/src/plugins-endpoints.ts
  packages/entities/entities-plugins/src/types/plugin-form.ts
  packages/entities/entities-plugins/src/types/plugin.ts
Owners: @adamdehaven, @ValeryG, @jillztom

wip
  packages/entities/entities-redis-configurations/sandbox/pages/RedisConfigurationFormPage.vue
  packages/entities/entities-redis-configurations/src/components/RedisConfigurationForm.vue
  packages/entities/entities-redis-configurations/src/composables/useRedisConfigurationForm.ts
  packages/entities/entities-redis-configurations/src/helpers.ts
  packages/entities/entities-redis-configurations/src/partials-endpoints.ts
  packages/entities/entities-redis-configurations/src/types/redis-configuration-form.ts
Owners: @adamdehaven, @ValeryG, @jillztom

CODEOWNERS:

# CODEOWNERS Docs
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#example-of-a-codeowners-file

# Order is important; the last matching pattern takes the most precedence.

# These owners will be the default owners for everything in
# the repo. They will be requested for review whenever someone
# opens a PR, unless a later match takes precedence.
* @adamdehaven @ValeryG @jillztom

# Workspaces:
# These teams will be the default owners for everything in their workspace
# unless a later match takes precedence.
# =========================================================================
/packages/core/ @Kong/team-core-ui
/packages/portal/ @Kong/team-devx

# Packages:
# These owners will be the default owners for everything in the workspace
# unless a later match takes precedence.
# =========================================================================

# CLI
/packages/core/cli/ @adamdehaven

# Core packages
/packages/core/i18n/ @adamdehaven @ValeryG @jillztom
/packages/core/app-layout/ @adamdehaven @jillztom

# Portal packages
/packages/portal/document-viewer/ @Kong/team-core-ui
/packages/portal/mini-spec-renderer/ @Kong/team-core-ui
/packages/portal/spec-renderer/ @Kong/team-core-ui
/packages/portal/swagger-ui-web-component/ @adamdehaven @davidma415 @kaiarrowood

# =========================================================================
# Renovate Bot approvals
# These rules MUST remain at the bottom as the last entry
pnpm-lock.yaml @kongponents-bot @adamdehaven @ValeryG @jillztom
package.json @kongponents-bot @adamdehaven @ValeryG @jillztom
/packages/core/*/package.json @kongponents-bot @adamdehaven @ValeryG @jillztom
/packages/portal/*/package.json @kongponents-bot @adamdehaven @ValeryG @jillztom
